language: elixir

addons:
  postgresql: "9.6"

env:
  global:
    - CI=true
    - PGDATABASE=banking
    - PGUSER=postgres
    - PGPASSWORD=postgres
    - PGHOST=localhost
    - DATABASE_URL=postgres://postgres:postgres@localhost/banking
    - SECRET_KEY_BASE=uLxq5PLWNR2gYVy/dGkjM17vxFzfNBSBrjSLoAS2j/B479OhBMlr33P6+Py0iArZ
    - MIX_ENV=test
    - BANKING_SESSION_TOKEN_SECRET=3RF4nr1PHoHs8FNeRnPih9DxW9WnjF8vHZLdtEfLPYlsWPSkfZnrOfuXp+Nl4ckK
    - BANKING_SESSION_TOKEN_TTL_IN_MINUTES=15
    - BANKING_WITHDRAWAL_FROM_EMAIL=john@example.com
    - BACKOFFICE_SESSION_TOKEN_TTL_IN_MINUTES=15
    - BACKOFFICE_SESSION_TOKEN_SECRET=46Z6kgdGqFNQmQpd6kL+lXLOUWLPrtbS+LvnE0pWbkm0VK9JbdTlmDmXh/L9a1n5
    - PORT=4000

cache:
  directories:
    - "~/.hex"
    - "~/.mix"
    - deps

elixir:
  - '1.8.1'

otp_release:
  - '21.0'

before_script:
  - mix do ecto.create, ecto.migrate

script:
  - mix format --check-formatted
  - mix credo --strict
  - mix test

services:
  - postgresql

deploy:
  provider: script
  script: sh deploy.sh
